.App {
  margin: 0;
  display: grid;
  grid-template-columns: 17% 54% 25%;
  /* grid-template-columns: 172px 562px 252px; */
  grid-gap: 2%;
  height: 100vh;
  font-family: 'Roboto' !important;
  font-style: normal !important;
}
