.div2{
  display: flex;
  flex-flow: column wrap;
  grid-column: 2/3;
  background: #F5F6FC;
  margin: 0 ;
  padding: 25px 17px;
}

.search_input {
  position: relative;
  width: 100%;
  margin-bottom: 25px ;
}

.search {
  padding-left:34px;
  font-size: 10px;
  width: 93%;
  height: 29px;
  left: 210px;
  top: 25px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 0;
}
.div-list {
  display: flex;
  flex-flow: row;
  margin-top: 23px ;
  margin-bottom: 38px ;
  
}

.table-files {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 16px;
  margin-bottom: 22px;
}

.table-files th {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #858A9D;
}

.table-files tr {
  padding-bottom: 16px;
}
