.div1{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  grid-column: 1/2;
  background: #343951;
  border: 1px solid black; 
  font-size: 10px;
}
.container {
  display: flex;
  flex-flow: column;
  margin: 0;
}

.navBar{
  margin-top: 50px; 
  padding-left: 0;
  padding-bottom: 16px;
  list-style-type: none;
  border-bottom: 1px solid #464C61;
}

.list{
  margin-top: 17px;
  list-style-type: none;
  padding-left: 0;
}

.dialog {
  margin-top: 0;
  margin-left:28px;
  margin-right:28px;
  
  height: 111px;
  left: 28px;
  top: 580px;
  
  background: #464C61;
  border-radius: 9px;
}
