.rect1 {
    margin: 36px 0 0 32px;
    width: 74px;
    height: 21px;
    left: 32px;
    top: 36px;

    background: linear-gradient(270deg, #689EF8 0%, #FF6860 56.25%, #FF9F00 100%);
    border-radius: 5px;
}

.rect2 {
    width: 30px;
    height: 26px;
    margin-left: 7px;
    background: #FF9F00;
    box-shadow: -5px 5px 0 0 #FFD999;
}

.rect3 {
    width: 30px;
    height: 26px;
    
    background: #FF9F00;
}

.rect4 {
    width: 21px;
    height: 21px;
    background: #FF9F00;
    border-radius: 5px;
    
}

.rect5 {
    width: 28px;
    height: 28px;
    background: #FF9F00;
    border-radius: 8px;
}

.rect6 {
    
    width: 119px;
    height: 73px;
    margin: 17px 37px;
    background: linear-gradient(270.15deg, #689FF8 0.15%, #FF6860 54.7%, #FF9F00 99.9%);
    border-radius: 11px;
}