.rect1 {
    margin: 36px 0 0 32px;
    width: 74px;
    height: 21px;
    left: 32px;
    top: 36px;

    background: linear-gradient(270deg, #689EF8 0%, #FF6860 56.25%, #FF9F00 100%);
    border-radius: 5px;
}